<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Servlets.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMascotaController</servlet-name>
        <servlet-class>Servlets.CreateMascotaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerController</servlet-name>
        <servlet-class>Servlets.registerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginUserController</servlet-name>
        <servlet-class>Servlets.loginUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>solicitudController</servlet-name>
        <servlet-class>Servlets.solicitudController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aceptarSolicitudController</servlet-name>
        <servlet-class>Servlets.aceptarSolicitudController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>denegarSolicitudController</servlet-name>
        <servlet-class>Servlets.denegarSolicitudController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>Servlets.logoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMascotaController</servlet-name>
        <url-pattern>/CreateMascotaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerController</servlet-name>
        <url-pattern>/registerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginUserController</servlet-name>
        <url-pattern>/loginUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>solicitudController</servlet-name>
        <url-pattern>/solicitudController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aceptarSolicitudController</servlet-name>
        <url-pattern>/aceptarSolicitudController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>denegarSolicitudController</servlet-name>
        <url-pattern>/denegarSolicitudController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
